form {
    font-size: 14px;
    label {
        display: block;
        margin-bottom: 5px;
        p {
            font-size: 12px;
            padding: 5px;
        }
    }
    .btn {
        padding: 0 10px;
    } 
}