<div class="block">
    <div class="event" [ngStyle]="{'background-image': 'url(&quot;' + event?.image + '&quot;)'}">
      <span class="name">{{ event?.name }}</span>
      <!-- <span class="description">{{ event?.description }}</span> -->
      <span class="date">{{ event?.date }}</span>
    </div>
    <div class="eventDetails">
        <p class="name">{{ event?.name }}</p>
      <p class="description">{{ event?.description }}</p>
      <p class="date">{{ event?.date }}</p>
    </div>
  </div>
