 label {
     display: block;
     padding: 5px;
     margin-right: 10px;
     width: 200px;
 }

 .btn {
    padding: 0 10px;
 }

 .btn:hover {
    color: rgb(255, 255, 255);
 }

 .redBorder {
     border: 1px solid red;
 }