<div class="block">
    <p>Посада: {{ oneResume?.position }}</p>
    <p>Місце роботи: {{ oneResume?.city }}</p>
    <p>Заробітня плата: {{ oneResume?.salery }}</p>
    <p>Освіта: {{ oneResume?.univercity }}</p>
    <p>Досвід роботи(рр): {{ oneResume?.experienceYears }}</p>
    <p>Досвід роботи: {{ oneResume?.experience }}</p>
    <p>Про себе: {{ oneResume?.aboutMySelf }}</p>
    <!-- <p>Навики: {{ oneResume?.skills }}</p> -->
    <!-- <p>Про компанію: {{ oneResume?.aboutCompany }}</p> -->
</div>
